@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans';
}
/* common shared style */
main{
    max-width: 1440px;
    margin: auto;
}

.common-title{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.primary-text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-description{
    color: #534C64;
    text-align: right;
    font-size: 1.08rem;
    line-height: 30px; /* 166.667% */
}

.primary-btn{
    color: #fff;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: 0px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}
/* header */
/* nav */
nav{
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;

}

.logo{
    display: flex;
    gap: 10px;

}
.web-name{
    color: #0b0223;;
    text-align: center;
    font-size: 2.75rem;
    font-weight: 700;
}
#color{
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-bar{
}
.nav-bar> ul{
    display: flex;
    text-align: center;
}
.nav-bar> ul li{
    list-style: none;
    margin-right: 20px;
    padding: 0.8rem 1.15rem;

}
.nav-bar> ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #3C354F;
}
.li-grupe{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
/* head content */
.head-content-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.content-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#h1-text{
    font-size: 6rem;
}
.group-text{
    display: flex;
    gap: 16px;
    margin-bottom: 15px;
}
.group-frame{
    color: #534C64;
    text-align: center;
    font-size: 1.08rem;
    font-weight: 500;
}

#btn-color{
    color: #fff;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    background-color: #4EC5F7;
}

/* head part 2 */
.head-content-container2{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.head-content2{
    width: 502px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.head-content-container2> .primary-description, .primary-btn, .common-title{
    margin-top: 20px;
    margin-bottom: 20px;
}


#our-purpose{
    color: #534C64;
    text-align: right;
    font-size: 1.60rem;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}
#purpose-text{
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}
/* main */
.game-video{
    margin-top: 100px;
}

.sec-heading{
    text-align: center;
    margin-bottom: 5px;
}
.card-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.card-img{
    border: 5px solid transparent;
   

}
.card-img:hover {
    border: 5px solid #FF42A5;
    border-radius: 25px;
}
.card-text{
    color: #534C64;
    font-size: 1.08rem;
    font-weight: 500;
}

/* what we offer */
.about-section{
    margin-top: 100px;
}
.about-container{
    margin-bottom: 150px;
    display: flex;
    justify-content:center;
    align-items: center;

}
.about-content{
    padding: 0px 40px;
}

.about-img-container{
    display: flex;
    align-items: end;
}
.positioning{
    position: relative;
    left: 180px;
    top: 85px;
}
.about-container-2{
    margin-bottom: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.positioning-2{
    position: relative;
    right: 180px;
    top: 120px;
}
.content-2{
    text-align: left;
    
}
/* game genre */
.game-category-sec{
    margin-top: 100px;
}
.game-category-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game-category{
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
}
.game-category:hover{
    color: #F948B2;
    border: 2px solid #FF42A5;
}

/* footer */
.footer{
    margin-top: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #0B0223;
    color: #fff;
    text-align: center;

}
.logo-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.footer-logo{
    font-size: 2.75rem;
}
.footer a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
}
.icon{
    margin-top: 30px;
    margin-bottom: 35px;
}
.icon img{
    margin-right: 25px;

}
.footer p, .privacy> a{
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.60);

}

/* responsive */
/* mobile */
@media screen and (max-width: 576px) {
    body{
        margin: 0px 30px;
    }
    .common-title, .primary-description{
        text-align: center;

    }
    .common-title{
        font-size: 2rem;
    }
    .primary-description{
        font-size: 1rem;
    }
    nav, ul, .card-container, .about-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-bottom: 10px;
    }
    .head-content-container{
        background-image: none;

    }
    .head-content{
        background-image: url(../images/Group\ 14.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .head-content-container, .head-content-container2, .about-container-2{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-image-style{
        width: 80%;
    }
    .head-content2{
        width: auto;
        padding: 20px;
    }
    #our-purpose{
        text-align: center;
        font-size: 1rem;

    }
    .about-container{
        margin-bottom: 80px;
    }
    .game-category-container{
        justify-content: flex-start;
    }
    .icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        margin-left: 25px;
        margin-right: 25px;

    }
    .icon img{
        margin-right: 15px;
    }
    
}
